/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');


@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');



body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #fafafa;
  color: #2e2e2e;
  padding: 40px;
}


.picker-wrapper {
  display: flex;
  gap: 12px; 
  margin-bottom: 32px; 
}

#datetime-picker {
  font-size: 18px;
  padding: 8px 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  width: 250px;
}


button[data-start] {
  font-size: 18px;
  padding: 8px 24px;
  background-color: #e0e0e0;
  color: #757575;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}


button[data-start]:not(:disabled) {
  background-color: #4e75ff;
  color: white;
  border-color: #3b62e3;
}


button[data-start]:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}


.timer {
  display: flex;
  gap: 24px; 
}


.field {
  display: flex;
  flex-direction: column;
  align-items: center; 
}


.value {
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}


.label {
  font-size: 12px;
  text-transform: uppercase; 
  color: #2e2e2e;
  font-weight: 400;
}

